<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular</title>
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
    <style>
    .product{
    width: 100px;
    height: 100px;

    }

    .cart{
    width: 100px;
    border: 3px black solid;
    margin: 20px;
    padding:20px;
    float:left;
        margin-top: 50px;
        background-color: aqua;
    }
</style>
</head>
</head>
<body ng-app="myapp">
<div ng-controller="appctrl">
 <div class="products">
     <h3>products<h3>
         <div ng-repeat="item in products">
             <p>{{item.name}}</p>
             <p>{{item.price}}</p>
             <input type="button"value="ADD TO CART" ng-click="addtocart(item)">


         </div>
         <div class="cart">
             <h3>carts</h3>
             <div ng-repeat="product in cart">
                 <p>{{product.name}}--{{product.price}}</p>
             </div>
             <h3>total:{{totalprice}}</h3>

                 <input type="button"value="ADD TO CART"
                 ng-click="addtocart"

</body>
</html>