<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular3</title>
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-app="myapp">

    <div ng-controller="appctrl">
        <div>
            <label>name:</label>

            <input type="text" ng-model="name">
        </div>
        <div>
            <label>price:</label>

            <input type="text" ng-model="price">
<div>
            <label>name:</label>

            <input type="text" ng-model="product.name">
        </div>
        <div>
            <label>price:</label>

            <input type="text" ng-model="product.price">
        </div>

        </div>

        <ul>
            <li ng-repeat="item in fruits">{{item}}</li>

        </ul>

        <ul>
            <li ng-repeat="item in product">{{item}} </li>
        </ul>

       <p ng-repeat="item in products" >
           {{item}} <br>
       </p>

    </div>


</body>
</html>