<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>

    <script src="angular.min.js"></script>
    <script src="script.js"></script>
    <style>
        .img{
            width: 100px;
            height: 100px;
        }

        .container{
            width: 100px;
            border: 3px black solid;
            margin: 20px;
            padding:20px;
            float:left;
        }
    </style>

</head>
<body ng-app="myapp">

<div ng-controller="appctrl">
    <fieldset>
        <legend>Add new product</legend>
            <form>
<div>
    <label>Name</label>
    <input type="text" ng-model="new.name">

</div>
<div>
    <label>Product price</label>
    <input type="number" ng-model="new.price">

</div>
<div>
    <label>quality in stock</label>
    <input type="number" ng-model="new.qty">

</div>

<div>
    <label>Product in weight</label>
    <input type="number" ng-model="new pounds">
</div>
            <input type="button" value="Save Now" ng-click="addproducts()">
            </form>
    </fieldset>


</div>
</body>
</body>
</html>