<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <script src="angular.min.js"></script>
</head>
<body>
<div ng-app="" ng-init="price=0; units=0;">

    unit price:
    <input type="text" ng-model="price">
    <br>
     Number of items:
    <input type="text" ng-model="units">


<p>Total cost is {{price * units}} </p>

</div>





</body>
</html>