<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <script src="angular.min.js"></script>

</head>
<body>
<div ng-app="" ng-init="username='Tooba'">

    username:
    <input type="text" ng-model="username">
<br>
Pasword:
    <input type="text" ng-model="pasword">
   <p>{{Username}}</p>
    <p>{{Username}}</p>

    <br>

    <p>{{5 + 5}}</p>
    <p>{{34 - 6}}</p>


</div>


</body>
</html>