<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
    <style>
        .img{
            width: 100px;
            height: 100px;
        }

        .container{
            width: 100px;
            border: 3px black solid;
            margin: 20px;
            padding:20px;
            float:left;
        }
    </style>



</head>

<body ng-app="myapp">

<div ng-controller="appctrl">
    <div ng-repeat="item in products" class="container">
        <img src="{{item.imagePath}}" class="img">
        <p>{{item.name}}</p>
        <p>{{item.price}}</p>
        <p>{{item.qty}}</p>
        <p>{{item.pounds}}</p>
        <button>Open </button>



</div>


</body>
</html>